@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.video__div {
    width: 100%;
}

.course__section__div {
    font-family: 'Jost', sans-serif;
    border-top: rgba(0, 0, 0, 0.13) 1px solid;
}

.course__section__title__div {
    cursor: pointer;
    background-color: #F7F9FA;
    padding: 15px 10px;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    justify-content: space-between;
    display: flex;
    align-items: end;
}

.course__section__single__topic__div {
    padding: 10px;
    font-size: 14px;
}
.course__section__single__topic__div__active{
    background-color: #d1d7dc;
}

.course__section__single__topic__div:hover {
    background-color: #d1d7dc;
    cursor: pointer;
}

.course__content__title__div {
    padding: 12px 10px;
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__content__div {
    position: fixed; 
}

.course__content__title {
    font-size: 16px;
    font-weight: 600;
}

.course__content__list__div {
    height: 80vh;
    overflow-y: auto;
}
.video__play__icon{
    color:rgba(0, 0, 0, 0.335);
}
.video__icon__and__length__div{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.56);
}