.header__container__div{
    margin: 5px 30px;
  }
  .brand__name{
    font-size: 25px;
    font-weight: 700;
    color:hsla(236, 77%, 26%, 1);
    font-family: 'Raleway', sans-serif;
  }
  .account__login{
    font-family: 'Raleway', sans-serif;
    margin-right: 20px;
    cursor: pointer;
    display: flex-end;
    gap: 10px;
  }
  .account__login__icon{
    color:hsla(236, 77%, 26%, 1);
  }
  .nav__div{
    align-items: end;
   }
   .username__welcome__text{
    text-align: right;
    font-weight: 500;
    font-size: 13px;
  }