.paymentDetails__and__billingHistory__tabs{
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid black;
}
.pDbHT_single{
    padding: 10px 20px;
}
.selected__pDbHT_single{
    border-bottom: 4px solid blue;
    background-color: #F3F3F5;
    font-weight: 600;
}
.pDbHT_single:hover{
    background-color: #F3F3F5;
    color: blue;
    cursor: pointer;
}
.billing__history__table{
    width: 100%;
}
.bill__details__view__button{
    color: blue;    
    font-weight: 500;
    cursor: pointer;
}
.open__payment__button{
    background-color:#3A10E5;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
}