@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.video__description__types__div{
    display: flex;
    border-bottom: 1px solid #6a6f733f;
}
.video__description__type{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    color: #6a6f73;
    margin: 10px 20px;
}